<a href="https://colab.research.google.com/github/mafuyu0607/shungoo/blob/main/WEEK3%E8%AA%B2%E5%A0%82%E7%B7%B4%E7%BF%92_%E5%8A%A0%E5%88%86.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2.九九乘法表
不換行列印的方法： print(x, end='')

In [5]:
x=0
y=0
for x in range(1,10):
  for y in range(1,10):
    print ("%d * %d = %d  "%(y,x,x*y),end='')
  print()

1 * 1 = 1  2 * 1 = 2  3 * 1 = 3  4 * 1 = 4  5 * 1 = 5  6 * 1 = 6  7 * 1 = 7  8 * 1 = 8  9 * 1 = 9
1 * 2 = 2  2 * 2 = 4  3 * 2 = 6  4 * 2 = 8  5 * 2 = 10  6 * 2 = 12  7 * 2 = 14  8 * 2 = 16  9 * 2 = 18
1 * 3 = 3  2 * 3 = 6  3 * 3 = 9  4 * 3 = 12  5 * 3 = 15  6 * 3 = 18  7 * 3 = 21  8 * 3 = 24  9 * 3 = 27
1 * 4 = 4  2 * 4 = 8  3 * 4 = 12  4 * 4 = 16  5 * 4 = 20  6 * 4 = 24  7 * 4 = 28  8 * 4 = 32  9 * 4 = 36
1 * 5 = 5  2 * 5 = 10  3 * 5 = 15  4 * 5 = 20  5 * 5 = 25  6 * 5 = 30  7 * 5 = 35  8 * 5 = 40  9 * 5 = 45
1 * 6 = 6  2 * 6 = 12  3 * 6 = 18  4 * 6 = 24  5 * 6 = 30  6 * 6 = 36  7 * 6 = 42  8 * 6 = 48  9 * 6 = 54
1 * 7 = 7  2 * 7 = 14  3 * 7 = 21  4 * 7 = 28  5 * 7 = 35  6 * 7 = 42  7 * 7 = 49  8 * 7 = 56  9 * 7 = 63
1 * 8 = 8  2 * 8 = 16  3 * 8 = 24  4 * 8 = 32  5 * 8 = 40  6 * 8 = 48  7 * 8 = 56  8 * 8 = 64  9 * 8 = 72
1 * 9 = 9  2 * 9 = 18  3 * 9 = 27  4 * 9 = 36  5 * 9 = 45  6 * 9 = 54  7 * 9 = 63  8 * 9 = 72  9 * 9 = 81

3.某班學生人數不詳，欲輸入每一個學生成績，當輸入 -1 時表示結束輸入，然後顯示出全班人數、及格人數、不及格人數、以及全班平均值。

In [7]:
count=0
total=0
passc=0
failc=0
while True:
  score = int(input('請輸入成績:(輸入-1結束):'))
  if score == -1:
    break
  total += score
  count += 1
  if score >= 60:
    passc += 1
  else:
    failc += 16
  avr = total / count
print("全班人數:",count)
print("及格人數:",passc)
print("不及格人數:",failc)
print("全班平均值:",avr)

請輸入成績:(輸入-1結束):98
請輸入成績:(輸入-1結束):52
請輸入成績:(輸入-1結束):42
請輸入成績:(輸入-1結束):38
請輸入成績:(輸入-1結束):99
請輸入成績:(輸入-1結束):100
請輸入成績:(輸入-1結束):75
請輸入成績:(輸入-1結束):-2
請輸入成績:(輸入-1結束):-1
全班人數: 8
及格人數: 4
不及格人數: 64
全班平均值: 62.75

5.印星星(二):

In [2]:
x=4
while x>0:
  print(x*'*')
  x=x-1

****
***
**
*

6.印星星(三):

In [1]:
x=1
while x<=9:
  if x<=5:
    print(' '*(5-x)+'*'*x)
  else:
    print(' '*(x-5)+'*'*(10-x))
  x=x+2

    *
  ***
*****
  ***
    *